select {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 1rem;
    width: 25%;
    margin: 0.1rem;
    padding: 0.2rem;
    font-size: 1.2vw;
}

button {
    background-color: var(--fg_color);
}

.optionBanner {
    margin-bottom: 1rem;
}

input, select {
    background-color: var(--bg_color);
}

.aiSearchBox, button {
    width: 30%;
    border-radius: 0.1rem;
    padding: 0.5%;
    font-size: 100%;
}
button {
    width: 20%;
}

@media (max-width: 1000px) {
    select {
        width: 30%;
        font-size: 3vw;
    }
    button {
        border-radius: 0.1rem;
        font-size: 3vw;
    }
    .aiSearchBox, button {
        font-size: 2vw;
        padding: 0.31rem;
    }
    .aiSearchBox {
        width: 30%;
    }
    button {    
        width: 25%;
        border: none;
        font-size: 100%;
    }
}