select {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 1rem;
    width: 25%;
    margin: 0.1rem;
    padding: 0.2rem;
    font-size: 1.2vw;
}

.optionBanner {
    margin-bottom: 1rem;
}

@media (max-width: 1000px) {
    select {
        width: 30%;
        font-size: 3vw;
    }
}